/* Estilo general del dashboard */
.dashboardContainer {
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para el componente Revenue */
.revenueContainer {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
}

/* Estilos para SalesChart */
.salesChartContainer {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 2;
}
