.img_container{
    position: unset!important; 
    width: 100%;
}
.img_container img{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.sidebar_chaza_store {
  width: 384px;
  max-width: 384px;
  height: 100%;
  background-color: white;
  border-right: #A63C6D 1px solid;
  text-align: center;
}
.sidebar_chaza_store a {
  text-decoration: none;
  font-weight: bold;
  color: #a63c6d;
}
.sidebar_chaza_store a:hover {
  background-color: #f1f0f0;
  font-weight: bold;
  color: #a63c6d;
  border-left: 10px solid #a63c6d;
  border-right: 1px solid #a63c6d;
}
.card {
    text-align-last: left;
    color: #979797;
    font-size: 16px;
}
.info {
    border-bottom: #A63C6D 1px solid;
}
.info label{
    color: #A63C6D;
    font-size: 16px;
    font-style: normal;
}